<template>
  <div class="box">
    <!-- Iterate through each day: event map -->
    <div
      v-for="{ day, events } in eventDataObj"
      :key="day.valueOf()"
      class=""
    >
      <!-- Use a new div to only render non-empty event data -->
      <div
        v-if="events"
        class="content"
      >
        <!-- Day label -->
        <h2 class="is-size-3 has-text-left">
          Events for {{ getFormattedDay(day) }}
        </h2>
        <!-- Render a table with all the events, dates, and conflict status -->
        <b-table
          :data="events"
          class="table is-bordered is-narrow"
        >
          <b-table-column
            v-for="(column, index) in columns"
            :key="index"
            v-slot="props"
            :label="column.label"
            size="is-medium"
          >
            <!-- conditionals to render different cols-->
            <!-- Use tags to show conflicts and A-OKAY events -->
            <span
              v-if="column.field === 'conflict'"
              :class="'tag ' + getConflictStyle(props.row.conflict)"
            >
              {{ props.row[column.field] ? 'CONFLICT' : 'AVAILABLE' }}
            </span>
            <!-- Format each Date obj into the right strings -->
            <span v-else-if="column.field === 'start' || column.field === 'end'">
              {{ getFormattedDateTime(props.row[column.field]) }}
            </span>
            <!-- Everything else isn't really special -->
            <span v-else>{{ props.row[column.field] }}</span>
          </b-table-column>
        </b-table>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import { defineComponent, PropType } from '@vue/composition-api';
import { format } from 'date-fns';

import { ProcessedEvent } from '@/utils/types';

// This component
export default defineComponent({
  name: 'EventsTable',
  // Only prop is the day <-> events pairs just like in timeline
  props: {
    eventDataObj: {
      required: true,
      type: Array as PropType<{ day: Date; events: ProcessedEvent[] }[]>,
    },
  },
  data() {
    return {
      // Different columns is the only data in the component
      columns: [
        { field: 'title', label: 'Event Name' },
        { field: 'start', label: 'Start Time' },
        { field: 'end', label: 'End Time' },
        { field: 'conflict', label: 'Conflict Status' },
      ],
    };
  },
  methods: {
    // Formats a full date and time
    getFormattedDateTime(date: Date): string {
      return format(date, 'MMM d\',\' y p');
    },
    // Formats without the time
    getFormattedDay(date: Date): string {
      return format(date, 'MMMM d\',\' y');
    },
    // Gets the tag styling for the conflict column in the tables
    getConflictStyle(conflict: boolean) {
      return conflict ? 'is-danger' : 'is-success';
    },
  },
});
</script>
